//
//  Shared.xcconfig
//  ConfigDemo
//
//  Created by 华惠友 on 2018/11/15.
//  Copyright © 2018 华惠友. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974




GCC_PREPROCESSOR_DEFINITIONS = $(inherited) API_URL='$(API_URL)' ConfiName='$(ConfiName)'
